<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="image/ico" rel="icon" href="../favicon.ico" />
        <link type="image/ico" rel="shortcut icon" href="../favicon.ico" />
        <link type="text/css" rel="stylesheet" href="../resources/mupload.css" />
        <script type="text/javascript" src="../resources/jquery.min.js" ></script>
        <script type="text/javascript" src="../resources/mupload.js"></script>
        <script type="text/javascript">
            var IeMobile = <%= userAgent.ieMobile %>;
            var InWechat = <%= userAgent.inWechat %>;
            var IsMobile = <%= userAgent.isMobile %>;
        </script>
        <title><%= strings.AppName %></title>
        <div id="wx_pic" style="margin:0 auto; display:none;">
            <img src='<%= wxConfig.shareImageLink %>' />
        </div>
    </head>
    <body>
        <!--<div style="font-size: small"><span><%= wxConfig.jsapi_ticket %></span></div>-->
        <div id="naviBar">
            <div><a href="javascript:switch_to_pc()"><%= strings.SwitchPage %></a></div>
            <div><span><a id="follow-account" href="<%= profileLink %>"><%- strings.getString('TextAds', wechatId) %></a></span></div>
        </div>
        <div id="uploadList">
            <ul class="collapse-set">
                <% for (var i = 0; i < fileList.length; i++) { %>
                <li class="collapse-item-folded">
                    <a class="ci-title" filename="<%= fileList[i].fileName %>">
                        <span></span>
                    </a>
                    <div><div class="progressbar"></div><div class="ci-details"><p class="auto-select-text"><%= fileList[i].url %></p></div></div>
                </li>
                <% } %>
            </ul>
        </div>
        <div id="popupWindow" class="hidden">
            <p></p>
            <div><span><%= strings.UiCloseButton %></span></div>
        </div>
        <div id="footer">
            <div id="cell1"><a id="allButton" href="javascript:onclick_all()" class="icon-button"><span>all</span></a></div>
            <div id="cell2"><a id="addButton" href="javascript:onclick_add()" class="icon-button"><span>add</span></a></div>
            <div id="cell3"><a id="closeButton" href="javascript:onclick_close()" class="icon-button"><span>close</span></a></div>
        </div>
        <div id="hiddenArea">
            <span id="maxFileSize"><%= maxFileSize %></span>
            <span id="uid"><%= userId %></span>
            <form id="form0" enctype="multipart/form-data" method="post">
                <input name="uid" type="hidden" />
                <input name="file" id="uploader" type="file" />
            </form>
        </div>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
            var debugWx = false;
            var params = location.search.slice(1).split('&');
            params.forEach(function (param) {
                if (param.split('=')[0].toLowerCase() === 'debug') {
                    debugWx = true;
                }
            });
            wx.config({
                debug: debugWx,
                appId: '<%= wxConfig.appId %>',
                timestamp: '<%= wxConfig.timestamp %>',
                nonceStr: '<%= wxConfig.nonceStr %>',
                signature: '<%= wxConfig.signature %>',
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'closeWindow'
                ]
            });
            if (!InWechat) {
                // remove link to public account
                var link = document.getElementById("follow-account");
                link.parentElement.innerHTML = link.innerHTML;
            }
            var data = {
                title: '<%= strings.UiShareTitle %>',
                desc: '<%= strings.UiShareDescription %>',
                link: '<%= wxConfig.shareLink %>',
                imgUrl: '<%= wxConfig.shareImageLink %>',
                type: 'link',
                dataUrl: '',
                success: function (res) {
                },
                cancel: function (res) {
                }
            };
            wx.ready(function () {
                alert(JSON.stringify(data));
                //wx.onMenuShareTimeline(data);
                //wx.onMenuShareAppMessage(data);
                //wx.onMenuShareQQ(data);
                //wx.onMenuShareWeibo(data);
                wx.error(function (err) {
                    alert("error: " + JSON.stringify(err));
                });
            });
            $(function() {
                var shareData = {
                    'appid': '',
                    'img_url': '<%= wxConfig.shareImageLink %>',
                    'img_width': '300',
                    'img_height': '300',
                    'link': '<%= wxConfig.shareLink %>',
                    'desc': '<%= strings.UiShareDescription %>',
                    'title': '<%= strings.UiShareTitle %>'
                };
                // 发送给好友;
                WeixinJSBridge.on('menu:share:appmessage', function(argv) {
                    WeixinJSBridge.invoke('sendAppMessage', shareData, function(res) {})
                });
                // 分享到朋友圈;
                WeixinJSBridge.on('menu:share:timeline', function(argv) {
                    WeixinJSBridge.invoke('shareTimeline', shareData, function(res) {});
                });
                // 分享到微博;
                var weiboContent = '';
                WeixinJSBridge.on('menu:share:weibo', function(argv) {
                    WeixinJSBridge.invoke('shareWeibo', {
                            'content': '<%= strings.UiShareTitle %>'，
                            'url': '<%= wxConfig.shareLink %>'
                        }, function(res) {
                    });
                });
            });
        </script>
    </body>
</html>
